{% extends "tpl/include/base.html.j2" %}

{% block player %}
<div style="width: 100%; height: 600px; overflow: hidden;">
	<video id="{{html.player.id}}" style="width: 100%;" poster="{{html.player.poster}}" controls />
</div>
{% endblock player %}

{% block js_body %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/dashjs/2.4.1/dash.all.min.js"></script>
<script>
document.addEventListener("DOMContentLoaded", function (event) {
	var video_element = document.getElementById("{{html.player.id}}");
    if (window.MediaSource) {
        // For good web browsers, use dash.js
        player = dashjs.MediaPlayer().create();
        player.initialize(video_element, null, true);
        player.setFastSwitchEnabled(true);
		player.attachSource("{{dash_url}}/{{video.id}}/index.mpd");
    } else {
        // For Safari on iOS, use HLS
        alert("apple le poul");
        video_element.src = "<your_hls_stream_url>";
    }
});
</script>
{% endblock js_body %}

{# vim: set ft=html: #}
